@charset "UTF-8";
/* Global reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
} 
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of global reset */
html, body {
  box-sizing: border-box;
  background-color: #1c1c1c;
}
body {
  overflow-x: hidden;
    box-sizing: border-box;
    margin-bottom: 6em;
}

section { 
  margin: 7em 10vw 2vw 10vw;
  z-index:1;
}

footer {
  width: 100%;
  height: 3em;
  background-color:#1c1c1c;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

footer p {
  font-size: 1em;
  color: #fff;
  text-align: center;
}
.logo { 
  position: fixed;
  top: 4%;
  left: 2%;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  color: white;
  margin: 0 0 1.5% 0;
  }

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 170%;
  color: white;
   margin: 0 0 1.5% 0;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 130%;
  color: white;
   margin: 0 0 1.5% 0;
}

p {
  font-family: 'Muli', sans-serif;
  font-size: 110%;
  color: #c4c4c4;
  line-height: 1.5em;
  margin-bottom:3%;
}

p.date {
  font-family: 'Muli', sans-serif;
  font-size: 100%;
  color:white;
  margin-bottom:5%;
  margin-top: -2%;
}

p.calculations {
  font-weight: bold;
  font-size: 125%;
  text-align: center;
  color:white;
}

figure {
  margin-top: 7%;
}

figcaption {
  text-align:center;
  font-family: 'Muli', sans-serif;
  font-size: 90%;
  color: #c4c4c4;
  font-style:italic;
  margin-top: 2%;
  margin-bottom:4%;
}

.center_img {
  max-width:70%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.gif_img {
  max-height:95vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

#solar_cells {
  max-width:50%;
}

#process{
  max-width:100%;
}


/* Links */
a:link, a:visited {
  font-family: 'Muli', sans-serif;
  color:white;
  text-transform: uppercase;
  font-size: 90%;

}

a:hover, a:active {
  font-family: 'Muli', sans-serif;
  color: #f4cc5a;
  text-transform: uppercase;
}

/*Contact page*/

p.formfont {
  margin-bottom:0%;
  line-height: 1.5em;
}

.title {
  text-align: center;
}

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background: #fff;
  padding-left:35px;
  padding-right:35px;
  padding-top:20px;
  padding-bottom:20px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
margin-top:30px;
  margin-left: -260px;
}

.feedback-input {
  color:#000;
  font-family: Montserrat, Arial, sans-serif;
font-weight:300;
  font-size: 14px;
  border-radius: 0;
  line-height: 12px;
  background-color: #fff;
  padding:13px 13px 13px 3px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
border: 0px solid transparent;
border-bottom: 1px solid #000;
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  color: #000;
  outline: none;
padding: 13px 13px 13px 13px;
}

.focused{
  color:#000;
}

textarea {
  width: 100%;
  height: 80px;
  line-height: 150%;
  resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#send-button{
  font-family: 'Muli', sans-serif;;
  float:left;
  width: 100%;
  border: 0px solid transparent;
  cursor:pointer;
  background-color: #000;
  color:white;
  font-size:18px;
  padding-top:18px;
  padding-bottom:18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
margin-top:-4px;
font-weight:300;
}

#send-button:hover{
  background-color: #fff;
  color: #000;
border: 1px solid #000;
}
  
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
width:100%;
background-color:white;
}



/* Hamburger menu */

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #FFF;
  border: none;
  height: 2px; /*Tjocklek på streck*/
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #1c1c1c;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 10;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 60%;
  transform: translateY(-50%);
  font-size: 140%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-align: center;

}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display:"";
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display:"";
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 1px;
  background: #f4cc5a;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/* About Grid system */
.about-container {
    height: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "i c c c"
        ". c c c"
        ;
}

.image{
    grid-area: i;
}

.image .portrait {
  max-width:100%;
  height:auto;
}

.content {
    grid-area: c;
}

/* Image Grid system */
.image-grid {
  margin-top: 7em;
  height: 100%;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
}
.grid .gridimg {
  max-width:100%;
  height:auto;
}

@media only screen and (max-width: 1024px) {
  /* styles for browsers smaller than 1024px(ipad pro); */
    /* Image Grid system */
  .image-grid {
    margin-top: 5em;
    height: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  } 
 
  .center_img {
    max-width:90%;
  }
}
 
@media only screen and (max-width: 768px) {
  /* styles for browsers smaller than 768px(ipad); */
    /* Image Grid system */
  .image-grid {
    margin-top: 2em;
    height: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
  }   
  .about-container {
    margin-top:-5em;
    height: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "i"
    "c"
    ;
  }
  .image .portrait {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
  }
 
  .center_img {
    max-width:100%;
  }

  #solar_cells {
  max-width:70%;
  }
}

 
@media only screen and (max-width: 570px) {
  /* styles for browsers smaller than 570px(ipad); */

    /* Image Grid system */
  .image-grid {
    margin-top: 2em;
    height: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
  }   
  .about-container {
    height: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "i"
    "c"
    ;
  }
  .image .portrait {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
  }

  #solar_cells {
    max-width:90%;
    }

/* Contact form*/
  #form-div{
  left: 3%;
  margin-right: 3%;
  width: 88%;
  margin-left: 0;
  padding-left: 3%;
  padding-right: 3%;
}
}